:root{
    --primary-color: rgba(72, 163, 0, 0.07)
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    margin: 0;
}

main{
    padding: 0 16px;
}

.title{
    font-size: 64px;
    color: #48A300;
    text-align: center;
}

.title span{
    color: #61481C;
}

.app-container{
    max-width: 660px;
    margin-inline: auto;
    background-color: #FBFBFB;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.075);
}



.sun-icon{
    vertical-align: middle;
    margin-left: 16px;
}


.progress-label{
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
}

.progress-bar{
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
}

.progress-value {
    height: 30px;
    width: 0;
    height: 100%;
    background-color: #48A300;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    /* padding-left: 20px; */
    /* visibility: hidden; */
    overflow: hidden;
}

.progress-value span{
    padding-left: 20px;
}

.error-label{
    color: #FF5151;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}

.show-error .error-label{
    display: block;
}

.goal-container{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 17px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: white;
    /* margin-bottom: 30px; */
    margin-top: 40px;
}

.custom-checkbox{
    height: 24px;
    width: 24px;
    border: 2px solid rgba(97, 72, 28,0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon{
    display: none;
}

.goal-input{
    padding-left: 22px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    width: 100%;
    align-self: stretch;
    font-weight: 500;
}

.goal-input::placeholder{
    color: #D9D9D9;
}

.quote{
    font-weight: 500;
    text-align: center;
}

.made-with{
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #858585;
    margin-top: 30px;
}

.completed .custom-checkbox{
    background-color: #48A300;
    border-color: #48A300;
}

.completed .check-icon{
    display: block;
}

.completed .goal-input{
    color: #48A300;
    text-decoration: line-through;
}


@media (max-width: 768px) {
    .title{
        font-size: 32px;
    }

    .app-container{
        padding: 16px 25px;
    }

    .goal-container{
        height: 64px;
        margin-bottom: 18px;
        border-radius: 12px;
    }

    .custom-checkbox{
        height: 20px;
        width: 20px;
    }

    .progress-bar{
        height: 24px;
    }
}
